h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.navigation {
    padding: 10px;
    background: gray;
    color: white;
    a {
        padding: 10px;
        text-decoration: none;
        font-family: sans-serif;
        letter-spacing: .5px;
        font-weight: lighter;
    }
    a:hover, a:active, a:visited{
        color: white;
    }
}